* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.book-container {
    width: 500px;
    height: 790px;
    text-align: center;
    border: 5px solid rgb(51, 50, 56);
    border-radius: 3%;

}
h2{
    background-color: rgb(51, 50, 56);
    color: white;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 35px;
}
h3 {
    font-size: 25px;
    color:rgb(140, 138, 143);
    margin-top: 3%;
}
img {
    width: 375px;
    height: 550px;
    margin-top: 10%;
    margin-bottom: 10%;
    border: 5px rgb(26, 26, 27) solid;
    border-radius: 3%;
}

.booklist-container{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;

}